.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  background: #ffee05;
}

.header__logo {
  height: 40px;
}

@media (min-width: 576px) and (max-width: 768px) {
  .header__logo {
    height: 54px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .header__logo {
    height: 64px;
  }
}

@media (min-width: 992px) and (max-width: 1200) {
  .header__logo {
    height: 83px;
  }
}

@media (min-width: 1200px) {
  .header__logo {
    height: 100px;
  }
}

p {
  font-size: 12px;
}

@media (min-width: 576px) and (max-width: 768px) {
  p {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  p {
    font-size: 16px;
  }
}

@media (min-width: 992px) and (max-width: 1200) {
  p {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  p {
    font-size: 24px;
  }
}

.nav {
  position: fixed;
  width: 200px;
  left: 0px;
}

.menu {
  width: 150px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__item {
  text-align: center;
  padding: 20px;
  background-color: #ffee05;
  color: white;
  text-decoration: none;
  margin-bottom: 1.5px;
}

.container {
  width: 100%;
  max-width: 1800px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4f4f4;
}

.container__anounce {
  width: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 3px;
  border-color: #ffee05;
  background-color: #f4f4f4;
  border-style: solid;
  padding: 2px;
}

.container__list-content {
  background-color: #f4f4f4;
}

.container__list {
  background-color: #f4f4f4;
}

.container__pokemon {
  margin: 20px;
  text-align: justify;
}

#anounce1 {
  height: 50px;
  overflow: hidden;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #ffee05;
  margin-top: auto;
  height: 35px;
  max-width: 100%;
}

.footer__social-media-logo {
  margin-top: 2px;
  height: 20px;
}

@media (min-width: 576px) and (max-width: 768px) {
  .footer__social-media-logo {
    height: 22px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .footer__social-media-logo {
    height: 25px;
  }
}

@media (min-width: 992px) and (max-width: 1200) {
  .footer__social-media-logo {
    height: 28px;
  }
}

@media (min-width: 1200px) {
  .footer__social-media-logo {
    height: 31px;
  }
}

@font-face {
  font-family: "Font Awesome 6 Free";
  src: url(fontawesome-free-6.0.0-web\fontawesome-free-6.0.0-web\webfonts\fa-solid-900.woff2);
}

.fa {
  font-family: "Font Awesome 6 Free";
}

.fa-star::before {
  font: var(--fa-font-solid);
  content: "\f005";
}

.fa-shopping-bag::before {
  font: var(--fa-font-solid);
  content: "\f290";
}
/*# sourceMappingURL=style.css.map */